<div class="ui container" style="padding: 20px 0;">
    <div class="ui secondary pointing menu">
        <a class="item" [routerLink]="''" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"  >
          Home
        </a>
        <a class="item" [routerLink]="'elements'" [routerLinkActive]="'active'" >
          Elements
        </a>
        <a class="item" [routerLink]="'collections'" [routerLinkActive]="'active'">
          Collections
        </a>
        <a class="item" [routerLink]="'views'" [routerLinkActive]="'active'">
          Views
        </a>
        <a class="item" [routerLink]="'mods'" [routerLinkActive]="'active'">
          Modules
        </a>
    </div>

    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>
